<div class="com_card mb-3">
    <ng-container *ngIf="!activityLoading; else topBandLoader">
        <div class="tick_topband">
            <div class="row align-items-center">
                <div class="col">
                    <span id="headerTicketStatus">{{leadDetail.leadStatus}}</span>
                    <span id="headerTicketId">#{{leadDetail.leadId}}</span>
                    <span id="headerTicketTitle">{{leadDetail.lTitle}}</span>
                </div>
                <div class="col-auto"><a href="#" class="btn btn-secondary btn-sm rounded"> <i
                            class="far fa-eye-slash me-1"></i> Unwatch</a></div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-8">
                <div class="assigned_block">
                    <div class="row">
                        <div class="col">
                            <div class="mb-1"><span id="detailTicketPriority">{{leadDetail.leadPriority}}</span>
                                Priority
                                Lead
                            </div>
                            <div class="d-flex mb-1">
                                <div class="font-b me-2">Assigned To :</div>
                                <div><span id="detailAssignedTo">{{leadDetail.assignedToName}}</span></div>
                            </div>
                            <div class="d-flex mb-1">
                                <div class="font-b me-2">Owned By :</div>
                                <div><span id="detailTicketOwnedBy">{{leadDetail.leadOwner}}</span></div>
                            </div>
                        </div>
                        <div class="col-auto text-end assign_side_action_btn">
                            <a href="#"><i class="fas fa-book me-1"></i> Default</a>
                            <a href="#" class="d-block"><i class="fas fa-tag me-1"></i> <span
                                    id="detailTicketTag">{{leadDetail.tagList}}</span></a>
                        </div>
                    </div>
                </div>
                <div class="p-3" id="detailTicketDesc" [innerHTML]="returnSanitizedDom(leadDetail.lDesc)">

                </div>
            </div>
            <div class="col-4 side_status">
                <table class="table mb-0">
                    <tr>
                        <th>Status</th>
                        <td><label id="detailTicketStatus">{{leadDetail.leadStatus}}</label> </td>
                    </tr>
                    <tr>
                        <th>Raised By</th>
                        <td><span id="detailTicketRaisedBy">{{leadDetail.leadOwner}}</span></td>
                    </tr>
                    <tr>
                        <th>Raised By Contact No</th>
                        <td><span id="detailTicketRaisedByContactNo">{{leadDetail.addField3}}</span></td>
                    </tr>
                    <tr>
                        <th>Lead Date</th>
                        <td><span id="detailTicketTargetDate">{{returnFormattedDate(leadDetail.leadDate)}}</span></td>
                    </tr>
                    <tr>
                        <th>Next FollowUp Date</th>
                        <td><span
                                id="detailTicketResolutionDate">{{returnFormattedDate(leadDetail.nextFollowUpDate)}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Updated By</th>
                        <td><span id="detailTicketUpdatedBy">{{GetUserNameById(leadDetail.modifiedBy)}}</span></td>
                    </tr>
                    <tr>
                        <th>Updated Date</th>
                        <td><span id="detailTicketUpdatedOn">{{returnFormattedDate(leadDetail.modifiedOn)}}</span></td>
                    </tr>
                    <!-- <tr>
                        <th>Work Start Date</th>
                        <td><span id="detailTicketStartOn">-</span></td>
                    </tr> -->
                    <tr>
                        <th>Created By</th>
                        <td><span id="detailTicketCreatedBy">{{leadDetail.leadOwner}}</span></td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><span id="detailTicketCreatedOn">{{leadDetail.addField1}}</span></td>
                    </tr>
                    <tr>
                        <th>Industry</th>
                        <td><span id="detailTicketEstimatedDuration">{{leadDetail.addField2}}</span></td>
                    </tr>
                    <tr>
                        <th>Other</th>
                        <td><span id="detailTicketActualDuration">{{leadDetail.addField3}}</span></td>
                    </tr>
                    <tr>
                        <th>Subscribers</th>
                        <td>
                            <div><span id="detailTicketSubscriber1">-</span></div>
                            <div><span id="detailTicketSubscriber2">-</span></div>
                            <div><span id="detailTicketSubscriber3">-</span></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </ng-container>


    <div class="p-3 action_buttons mb-4 border">
        <div class="row">
            <div class="col-md-8">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <ng-container *ngIf="(leadDetail.leadStatus != 'Close') && (leadDetail.leadStatus != 'Success')">

                        <button type="button" id="TicketCommentBtn" class="btn btn-outline-primary btn-sm"
                            (click)="toggleCommentDialogOnClick()">Comment</button>
                        <button type="button" id="TicketTakeOverBtn" class="btn btn-outline-primary btn-sm"
                            (click)="TakeOverButtonOnClick()">Take Over</button>
                        <button type="button" id="TicketAssignBtn" class="btn btn-outline-primary btn-sm"
                            (click)="AssignTicketToUserOnClick()">Assign To</button>
                        <button type="button" id="TicketForceCloseBtn" class="btn btn-outline-primary btn-sm"
                            (click)="SalesLead_Forceclose()">Force Close</button>
                        <button type="button" id="TicketEditBtn" class="btn btn-outline-primary btn-sm"
                            (click)="OpenEditLeadModal()">Edit</button>
                    </ng-container>
                    <ng-container *ngIf="leadDetail.leadStatus == 'Close'|| leadDetail.leadStatus == 'Success'">
                        <button type="button" id="TicketReOpenBtn" class="btn btn-outline-primary btn-sm"
                            (click)="SupportTicket_ReOpen()">ReOpen</button>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-4" style="text-align:right;">
                <div id="RaisedByClientDiv">
                    Ticket Raised By : <font style="color:blue;">{{leadDetail.cName}}</font>
                </div>
            </div>
        </div>
    </div>

    <div id="detailActivityDiv" *ngIf="detailActivityDivVisible">
        <div class="container-fluid " id="test">
            <div class="row">
                <div class="col-md-12">
                    <div class="ticket-details">
                        <div class="row mt-2">

                            <div class="card col-md-12"
                                style="border: none; border-top: 0.5px solid black; border-radius: 0px;">
                                <div class="card-body ">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group" [formGroup]="commentForm">
                                                    <label><Strong>Add Comment </Strong></label>
                                                    <div id="ActivityDetailEditor">
                                                        <app-rich-text-editor #editor1
                                                            (submit)="handleRTEsubmit($event)">
                                                            <button class="btn btn-sm btn-secondary my-2 ml-2"
                                                                (click)="detailActivityDivVisible = false">Close</button>
                                                        </app-rich-text-editor>
                                                    </div>

                                                    <!-- <button class="btn btn-primary btn-sm mt-2" (click)="InsertTicketActivity()"> AddComment</button>
                                                    <button class="btn btn-sm mt-2" onclick="TicketDetails.CloseCommentDialougeOnClick()" style="outline:1px solid grey;"> Cancel</button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="AssignTicketToUserDiv" *ngIf="assignTicketToUserDivVisible">
        <div class="container-fluid " id="MultiAsigneeSection">
            <div class="row">
                <div class="col-md-12">
                    <div id="dataFormDiv">
                        <form class="row" [formGroup]="leadAssigneeForm">
                            <div class="col-md-3">
                                <label>Assign To</label>
                                <select class="form-control" id="assignToList" formControlName="assignedTo">
                                    <option value="0">Please Select...</option>
                                    <option *ngFor="let user of leadResolverList" [value]="user.userId">{{user.name}}
                                    </option>
                                </select>
                                <!-- <div *ngIf="assigneeCrl.invalid && assigneeCrl.touched">
                                    <p style="color: red;">Required</p>
                                </div> -->
                            </div>

                            <div class="col-md-6">
                                <label>Description</label><br />
                                <input class="form-control" formControlName="aDesc" />
                            </div>
                            <div class="col-md-2">
                                <br />
                                <button class="btn btn-primary btn-sm mt-2" (click)="LeadAsigneeSaveAsignee()"
                                    id="TicketAsigneeSaveUpdateBtn"> Save</button>
                                <button class="btn btn-sm mt-2 ml-2" (click)="assignTicketToUserDivVisible  = false"
                                    style="outline:1px solid grey;"> Cancel</button>
                            </div>
                        </form>
                        <div class="row">
                            <br />
                        </div>
                    </div>

                    <div id="dataTableDiv">

                        <table id="TicketAsigneeListTbl" class="table table-bordered com_table" style="width: 100%;">
                            <thead>
                                <tr class="text-dark">
                                    <th style="border-left: 5px solid var(--orange-col);" scope="col">Sr No</th>
                                    <th scope="col">Assigned To</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Assigned By</th>
                                    <th scope="col">Current Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="TicketAsigneeListBody">
                                <ng-container *ngIf="!LeadAssigneeTableLoading;else loader">
                                    <ng-container *ngIf="assigneeList.length > 0; else noRecords">
                                        <tr *ngFor="let leadAsignee of assigneeList; let i = index"
                                            [style.border-left]="'5px solid #' + WCColors[i % WCColors.length]">
                                            <td>{{i+1}}</td>
                                            <td>{{GetUserNameById(leadAsignee.assignedTo)}} </td>
                                            <td>{{leadAsignee.aDesc}} </td>
                                            <td>{{GetUserNameById(leadAsignee.createdBy)}} </td>
                                            <td>
                                                <button class="btn btn-primary btn-sm mt-2"
                                                    (click)="LeadAsigneeStartTask(leadAsignee)"
                                                    *ngIf="leadAsignee.aStatus === 'Open' || leadAsignee.aStatus === 'Hold'">
                                                    Start</button>
                                                <button class="btn btn-info btn-sm mt-2"
                                                    (click)="LeadAsigneeCloseTask(leadAsignee)"
                                                    *ngIf="leadAsignee.aStatus === 'InProgress'">
                                                    Close</button>
                                                <button class="btn btn-success btn-sm mt-2 ml-2"
                                                    (click)="LeadAsigneeSuccessTask(leadAsignee)"
                                                    *ngIf="leadAsignee.aStatus === 'InProgress'">
                                                    Success</button>
                                                <!-- <button class="btn btn-warning btn-sm mt-2  ml-2"
                                                (click)="LeadAsigneeHoldTask(leadAsignee)"
                                                    *ngIf="leadAsignee.aStatus === 'InProgress'">
                                                    Hold</button> -->
                                                <ng-container
                                                    *ngIf="leadAsignee.aStatus === 'Success'">{{leadAsignee.aStatus}}</ng-container>
                                            </td>
                                            <td class="text-center">
                                                <div class="btn-group dots_dropdown">
                                                    <button type="button" class="dropdown-toggle" data-toggle="dropdown"
                                                        data-display="static" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right shadow-lg">
                                                        <button class="dropdown-item" type="button"
                                                            onclick="TicketAsignee.UpdateOnClick()">
                                                            <i class="far fa fa-edit"></i> Update
                                                        </button>
                                                        <button class="dropdown-item" type="button"
                                                            onclick="TicketAsignee.DeleteOnClick()">
                                                            <i class="far fa fa-trash"></i> Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                    </ng-container>
                                </ng-container>
                                <ng-template #noRecords>
                                    <tr>
                                        <td colspan="7">
                                            <font style="color:red;">No Records found..</font>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template #loader>
                                    <tr *ngFor="let _ of [].constructor(3); let i = index"
                                        [style.border-left]="'5px solid #' + WCColors[i % WCColors.length]">
                                        <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                                        <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                                        <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                                        <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                                        <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                                        <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                                        <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="TabularViewDiv" role="tabpanel">
                <!--Tabs-->
                <div class="nav nav-tabs tra_tab" id="nav-tab" role="tablist">
                    <a class="active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">Activity</a>
                    <a data-toggle="tab" href="#tab2" role="tab" aria-selected="true">Add Contact</a>

                </div>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" style="padding-bottom: 50px;">
                        <div id="ticketDetailActivity">
                            <ng-container *ngIf="!activityLoading;else activityLoader">
                                <div class="card mb-3" *ngFor="let activity of leadActivity">
                                    <div class="card-header">
                                        <div><b>{{GetUserNameById(activity.createdBy)}}</b></div>
                                        <small class="text-muted">{{activity.createdOn | date:'medium'}}</small>
                                    </div>
                                    <div class="card-body" [innerHTML]="returnSanitizedDom(activity.leadComments)">

                                    </div>
                                </div>
                            </ng-container>
                            <ng-template #activityLoader>
                                <div class="card mb-3" *ngFor="let _ of [].constructor(3); let i = index">
                                    <div class="card-header">
                                        <div><b><ngx-skeleton-loader></ngx-skeleton-loader> </b></div>
                                        <small class="text-muted"><ngx-skeleton-loader></ngx-skeleton-loader> </small>
                                    </div>
                                    <div class="card-body">
                                        <ngx-skeleton-loader></ngx-skeleton-loader>
                                        <ngx-skeleton-loader></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                        <form class="form-group col-md-6" [formGroup]="contactForm">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="AddField2">Contact Name</label>
                                    <input type="text" class="form-control" id="raisedBy" formControlName="cName">
                                    <div class="text-danger" *ngIf="(cNameCtrl.touched && cNameCtrl.invalid )">
                                        <ng-container *ngIf="cNameCtrl.errors">Customer Name Required</ng-container>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="AddField2">Contact No.</label>
                                    <input type="text" class="form-control" id="raisedBy" formControlName="cNumber">
                                    <div class="text-danger" *ngIf="(cNumberCtrl.touched && cNumberCtrl.invalid )">
                                        <ng-container *ngIf="cNumberCtrl.errors">Customer Contact
                                            Required</ng-container>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="AddField2">Email</label>
                                    <input type="text" class="form-control" id="raisedByContactNo"
                                        formControlName="cEmail">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="AddField2">Designation</label>
                                    <input type="text" class="form-control" id="raisedBy"
                                        formControlName="cDesignation">
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <label>Description</label>
                                <app-rich-text-editor #ContactRTE (submit)="handleContactsubmit($event)">
                                </app-rich-text-editor>
                            </div>
                        </form>
                        <div class="col-md-6">
                            <app-color-table [tableData]="ContactList" [columns]="[
                                {colName: 'Name',colData: 'cName'},
                                {colName: 'Contact',colData: 'cName'},
                                {colName: 'Email',colData: 'cName'},
                                {colName: 'Designation',colData: 'cDesignation'},
                                {colName: 'Description',colData: 'cDescription'},
                                ]">
                            </app-color-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

<div style="height:100px;">
</div>

<!-- CreateTicketModal -->



<ng-template #topBandLoader>
    <div class="tick_topband">
        <div class="row align-items-center">
            <div class="col">
                <ngx-skeleton-loader></ngx-skeleton-loader>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-8">
            <div class="assigned_block">
                <div class="row">
                    <div class="col">
                        <div class="mb-1"><span
                                id="detailTicketPriority"><ngx-skeleton-loader></ngx-skeleton-loader></span>
                            <ngx-skeleton-loader></ngx-skeleton-loader>
                            <span id="detailTicketType"><ngx-skeleton-loader></ngx-skeleton-loader></span>
                            <ngx-skeleton-loader></ngx-skeleton-loader>
                        </div>

                    </div>
                    <div class="col-auto text-end assign_side_action_btn">
                        <a href="#"><i class="fas fa-book me-1"></i> <ngx-skeleton-loader></ngx-skeleton-loader></a>
                        <a href="#" class="d-block"><i class="fas fa-tag me-1"></i> <span
                                id="detailTicketTag"><ngx-skeleton-loader></ngx-skeleton-loader></span></a>
                    </div>
                </div>
            </div>
            <div class="p-3" id="detailTicketDesc">
                <ngx-skeleton-loader></ngx-skeleton-loader>
                <ngx-skeleton-loader></ngx-skeleton-loader>
            </div>
        </div>
        <div class="col-4 side_status">
            <table class="table mb-0 ">
                <tr>
                    <th>Status</th>
                    <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                </tr>
                <tr>
                    <th>Raised By</th>
                    <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                </tr>
                <tr>
                    <th>Raised By Contact No</th>
                    <td><span id="detailTicketRaisedByContactNo"><ngx-skeleton-loader></ngx-skeleton-loader></span></td>
                </tr>
                <tr>
                    <th>Target Date</th>
                    <td><span id="detailTicketTargetDate"><ngx-skeleton-loader></ngx-skeleton-loader></span></td>
                </tr>
                <tr>
                    <th>Resolution Date</th>
                    <td><span id="detailTicketResolutionDate"><ngx-skeleton-loader></ngx-skeleton-loader></span></td>
                </tr>
                <tr>
                    <th>Updated By</th>
                    <td><span id="detailTicketUpdatedBy"><ngx-skeleton-loader></ngx-skeleton-loader></span></td>
                </tr>
                <tr>
                    <th>Updated Date</th>
                    <td><span id="detailTicketUpdatedOn"><ngx-skeleton-loader></ngx-skeleton-loader></span></td>
                </tr>
                <tr>
                    <th>Work Start Date</th>
                    <td><span id="detailTicketStartOn"><ngx-skeleton-loader></ngx-skeleton-loader></span></td>
                </tr>
                <tr>
                    <th>Created By</th>
                    <td><span id="detailTicketCreatedBy"><ngx-skeleton-loader></ngx-skeleton-loader></span></td>
                </tr>
                <tr>
                    <th>Created Date</th>
                    <td><span id="detailTicketCreatedOn"><ngx-skeleton-loader></ngx-skeleton-loader></span></td>
                </tr>
                <tr>
                    <th>Estimate Duration</th>
                    <td><span id="detailTicketEstimatedDuration"><ngx-skeleton-loader></ngx-skeleton-loader></span></td>
                </tr>
                <tr>
                    <th>Actual Duration</th>
                    <td><span id="detailTicketActualDuration"><ngx-skeleton-loader></ngx-skeleton-loader></span></td>
                </tr>
                <tr>
                    <th>Subscribers</th>

                    <td>
                        <div><span id="detailTicketSubscriber1"><ngx-skeleton-loader></ngx-skeleton-loader></span></div>
                        <div><span id="detailTicketSubscriber2"><ngx-skeleton-loader></ngx-skeleton-loader></span></div>
                        <div><span id="detailTicketSubscriber3"><ngx-skeleton-loader></ngx-skeleton-loader></span></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</ng-template>


<ng-template #CreateLeadModal>
    <div class="modal-header text-light" style="background-color: #01018f;">
        <h5 class="modal-title font-weight-bold" id="WorkflowInstructionsModalLabel">Update Lead</h5>
        <button type="button" class="close text-light" aria-label="Close" data-dismiss="modal"
            (click)="LeadModal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="leadForm">
            <div class="form-row">
                <!-- <div class="form-group col-md-4">
                    <label for="project">Company Name <span
                        style="color: red;">*</span></label>
                    <select class="form-control" id="project" formControlName="companyId">
                        <option value="0">Select Company...</option>
                        <option *ngFor="let company of CompanyList" [value]="company.companyId">{{company.cName}}</option>
                    </select>
                    <div *ngIf="companyIdCtrl.invalid && companyIdCtrl.touched">
                        <p style="color: red;">Company is Required, Please Select</p>
                    </div>
                </div> -->
                <div class="form-group col-md-4">
                    <label for="project">Project Name<span style="color: red;">*</span></label>
                    <select class="form-control" id="project" formControlName="projectId">
                        <option [value]="0">Default</option>
                        <option *ngFor="let project of ProjectList" [value]="project.projectId">{{project.pName}}
                        </option>
                    </select>
                    <div class="text-danger" *ngIf="(projectIdCtrl.touched && projectIdCtrl.invalid )">
                        <ng-container *ngIf="projectIdCtrl.errors"> Please select a project</ng-container>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="title">Lead Name<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="title" formControlName="lTitle">
                    <div class="text-danger" *ngIf="(lTitleCtrl.touched && lTitleCtrl.invalid )">
                        <ng-container *ngIf="lTitleCtrl.errors"> Lead Name is required</ng-container>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="AddField1">Website</label>
                    <input type="text" class="form-control" id="department" formControlName="addField1">
                </div>
                <div class="form-group col-md-4">
                    <label for="AddField2">Industry</label>
                    <input type="text" class="form-control" id="raisedBy" formControlName="addField2">
                </div>
                <div class="form-group col-md-4">
                    <label for="AddField2">Other</label>
                    <input type="text" class="form-control" id="raisedByContactNo" formControlName="addField3">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" formControlName="category">
                        <option value="Retailer">Retailer</option>
                        <option value="Wholesaler">Wholesaler</option>
                        <option value="Manufacturer">Manufacturer</option>
                        <option value="Service">Service</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="priority">Lead Priority</label>
                    <select class="form-control" id="priority" formControlName="leadPriority">
                        <option>High</option>
                        <option>Medium</option>
                        <option>Low</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="ticketType">Lead Status</label>
                    <select class="form-control" id="ticketType" formControlName="leadStatus">
                        <option>New</option>
                        <option>Open</option>
                        <option>InProgress</option>
                        <option>Close</option>
                        <option>Success</option>
                    </select>
                </div>

            </div>
            <div class="form-row">

                <div class="form-group col-md-4">
                    <label for="targetDate">Lead Date</label>
                    <input type="date" class="form-control" id="leadDate" formControlName="leadDate"
                        (change)="leadDateChanged($event)">
                </div>
                <div class="form-group col-md-4">
                    <label for="targetDate">Next Follow Up Date</label>
                    <input type="date" class="form-control" id="leadDate" formControlName="nextFollowUpDate">
                </div>
                <div class="form-group col-md-4">
                    <label for="tags">Tag List</label>
                    <input type="text" class="form-control" id="tags" formControlName="tagList">
                </div>

            </div>

            <!-- <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="AddField1">Lead Owner</label>
                    <input type="text" class="form-control" id="department" formControlName="leadOwner">
                </div>
            </div> -->
            <label>Lead Description</label>
            <div class="form-row">
                <app-rich-text-editor #editor2 (submit)="LeadUpdate($event)" [setRTEHtml]="leadDetail.lDesc">
                    <button type="button" class="btn btn-sm btn-secondary my-2 ml-2" id="SupportTicketCloseBtn"
                        data-dismiss="modal" (click)="LeadModal.close()">Close</button>
                </app-rich-text-editor>
            </div>


        </form>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" id="SupportTicketCloseBtn" data-dismiss="modal"
            (click)="ticketModal.close()">Close</button>
        <button type="button" class="btn btn-primary" id="SupportTicketSaveBtn" (click)="TicketUpdate()">Create
            Ticket</button>
    </div> -->
</ng-template>