<div class="d-flex align-items-center justify-content-between my-3" style="border-bottom:1px solid #CDD5E9">
    <div class="main-heading">Daily Cold Calling Status</div>
    <button type="button" class="btn btn-primary btn-sm" (click)="openSendDaybookModal()"> <i
            class="fa fa-paper-plane mr-2"></i> Send</button>
</div>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="TabularViewDiv" role="tabpanel">
        <!--Tabs-->
        <div class="nav nav-tabs tra_tab" id="nav-tab" role="tablist">
            <a class="active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">Fresh Leads</a>
            <a data-toggle="tab" href="#tab2" role="tab" aria-selected="true">FollowUp Leads</a>
        </div>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" style="padding-bottom: 50px;">
                <div class="row">
                    <div style="bottom: 10px;" class="col-md-12">
                        <h3>Fresh Leads</h3>

                    <app-color-datatable [loading]="dataTableLoading" [tableData]="FreshLeads"
                            [enableActionColumn]="true" (actionClick)="handleActionClick($event)" [actionOptions]="[
                        { actionName: 'View',actionIcon: 'fa fa-eye' },
                        ]" [columns]="[
                        {colName:'Created Date',colData:'createdOn',isDate:true},
                        {colName:'company',colData:'cName'},
                        {colName:'Title',colData:'lTitle',enableRedirect:true},
                        {colName:'category',colData:'category'},
                        {colName:'Contact',colData:'addField1'},
                        {colName:'tagList',colData:'tagList'},
                        {colName:'leadStatus',colData:'leadStatus'},
                        {colName:'leadPriority',colData:'leadPriority'},
                        {colName:'nextFollowUpDate',colData:'nextFollowUpDate',isDate:true}
                        ]" (redirectAction)="handleRedirect($event)">
                    </app-color-datatable>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel">
                <div class="row">
                    <div style="bottom: 10px;" class="col-md-12">
                        <h3>Follow Up Leads</h3>
                        <app-color-datatable [loading]="dataTableLoading" [tableData]="FollowUpLeads"
                            [enableActionColumn]="true" (actionClick)="handleActionClick($event)" [actionOptions]="[
                        { actionName: 'View',actionIcon: 'fa fa-eye' },
                        ]" [columns]="[
                        {colName:'company',colData:'cName'},
                        {colName:'Title',colData:'lTitle',enableRedirect:true},
                        {colName:'category',colData:'category'},
                        {colName:'tagList',colData:'tagList'},
                        {colName:'AssignedTo',colData:'assignedToName'},
                        {colName:'leadStatus',colData:'leadStatus'},
                        {colName:'leadPriority',colData:'leadPriority'},
                        {colName:'leadDate',colData:'leadDate',isDate:true},
                        {colName:'nextFollowUpDate',colData:'nextFollowUpDate',isDate:true}
                        ]" (redirectAction)="handleRedirect($event)"></app-color-datatable>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>











<ng-template #sendDaybook>
        <div class="modal-header ">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Service Call Followup</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="emailDetail">
            <form>
              <div class="mb-3">
                <label for="InputEmail" class="form-label">Send To</label>
                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" value="abc@gmail.om">
                </div>
              <div class="mb-3">
                <label for="subject" class="form-label">Subject</label>
                <textarea class="form-control" id="subject" rows="5" cols="50"></textarea>
              </div>              
            </form>
          </div>
          <div style="overflow: auto;">
            <app-color-table [tableData]="FreshLeads"
                          [columns]="[
                          {colName:'Created Date',colData:'createdOn',isDate:true},
                          {colName:'company',colData:'cName'},
                          {colName:'Title',colData:'lTitle'},
                          {colName:'category',colData:'category'},
                          {colName:'Contact',colData:'addField1'},
                          {colName:'tagList',colData:'tagList'},
                          {colName:'leadStatus',colData:'leadStatus'},
                          {colName:'leadPriority',colData:'leadPriority'},
                          {colName:'nextFollowUpDate',colData:'nextFollowUpDate',isDate:true}
                          ]">
                      </app-color-table>
          </div>

        </div>
        <div class="modal-footer border-0 ">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-sm"> <i class="fa fa-paper-plane mr-2"></i> Send</button>
        </div>
</ng-template>