<div>
    <table id="example" class="table table-bordered com_table" style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 30px; border-left: 5px solid var(--orange-col); cursor: pointer;"
                    ng-reflect-ng-class="[object Object]" class="active_arrow"><i aria-hidden="true"
                        class="fa fa-angle-down expand_row_arrow"></i></th>
                <th scope="col"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                <th scope="col"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                <th scope="col" class="col-1"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                <th scope="col" class="col-7 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                <th scope="col" class="col-1"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                <th scope="col" class="col-1">
                    <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                </th>
            </tr>
        </thead>
        <tbody id="TemplateListBody">
            <!-- <ng-container *ngFor="let i of [1,2,3,4]">
                <tr>
                    <td style="border-left: 5px solid rgb(197, 132, 211);"><i aria-hidden="true"
                            class="fa fa-angle-down expand_row_arrow active_arrow"></i>
                    </td>
                    <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                    <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader> </td>
                    <td>
                        <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                    </td>
                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                    <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                    <th style="width: 150px;"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                </tr>
                <tr class="ParentChildTable" id="MenuMasterChild2">
                    <td colspan="8">
                        <div class="showDiv" style="padding-top: 0px; padding-left: 10px; display: block;"
                            ng-reflect-ng-class="showDiv" ng-reflect-ng-style="[object Object]">
                            <table class="table table-bordered com_table" style="width: 100%;">
                                <thead>
                                    <tr style="height: 10px !important; border-left: 5px solid rgb(197, 132, 211);">
                                        <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                        <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                        <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                        <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                        <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                        <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                        <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-md-1 text-center" style="border-left: 5px solid rgb(197, 132, 211);"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-3 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-1 text-center" style="border-left: 5px solid rgb(197, 132, 211);"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-3 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                        <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </ng-container> -->
            <tr>
                <td style="border-left: 5px solid rgb(197, 132, 211);"><i aria-hidden="true"
                        class="fa fa-angle-down expand_row_arrow active_arrow"></i>
                </td>
                <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader> </td>
                <td>
                    <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                </td>
                <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                <th style="width: 150px;"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
            </tr>
            <tr class="ParentChildTable" id="MenuMasterChild2">
                <td colspan="8">
                    <div class="showDiv" style="padding-top: 0px; padding-left: 10px; display: block;"
                        ng-reflect-ng-class="showDiv" ng-reflect-ng-style="[object Object]">
                        <table class="table table-bordered com_table" style="width: 100%;">
                            <thead>
                                <tr style="height: 10px !important; border-left: 5px solid rgb(197, 132, 211);">
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-1 text-center" style="border-left: 5px solid rgb(197, 132, 211);"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-3 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                </tr>
                                <tr>
                                    <td class="col-md-1 text-center" style="border-left: 5px solid rgb(197, 132, 211);"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-3 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="border-left: 5px solid rgb(160, 132, 210);"><i aria-hidden="true" 
                        class="fa fa-angle-down expand_row_arrow active_arrow"></i>
                </td>
                <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader> </td>
                <td>
                    <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                </td>
                <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                <th style="width: 150px;"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
            </tr>
            <tr class="ParentChildTable" id="MenuMasterChild2">
                <td colspan="8">
                    <div class="showDiv" style="padding-top: 0px; padding-left: 10px; display: block;"
                        ng-reflect-ng-class="showDiv" ng-reflect-ng-style="[object Object]">
                        <table class="table table-bordered com_table" style="width: 100%;">
                            <thead>
                                <tr style="height: 10px !important; border-left: 5px solid rgb(160, 132, 210);">
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                    <th class="text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-1 text-center" style="border-left: 5px solid rgb(160, 132, 210);"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-3 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                </tr>
                                <tr>
                                    <td class="col-md-1 text-center" style="border-left: 5px solid rgb(160, 132, 210);"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-3 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-2 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                    <td class="col-md-1 text-center"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
    
        </tbody>
    </table>
</div>
