<app-color-datatable [tableData]="AssignedToMe" [columns]="[
    {colName:'Raised By',colData:'raisedBy'},
    {colName:'Ticket No',colData:'ticketId'},
    {colName:'Ticket Date',colData:'createdOn',isDate:true},
    {colName:'Ticket Title',colData:'title'},
    {colName:'Assigned To',colData:'assignedToName'},
    {colName:'Ticket Status',colData:'ticketStatus'},
    {colName:'Company',colData:'companyName'},
    {colName:'Target Date',colData:'targetDate',isDate:true},
    {colName:'Last Action',colData:'modifiedOn',isDate:true}
    ]"
    [enableActionColumn]="true"
    [actionColumnLabel]="'Action'"
    [actionOptions]="[{actionName: 'View', actionIcon: 'fa fa-eye '}]"
    (actionClick)="handleActionClick($event)" [enableExports]="true"
    ></app-color-datatable>