<app-color-datatable [tableData]="ClosedTickets" [columns]="[
    {colName:'Raised By',colData:'raisedBy'},
    {colName:'Ticket No',colData:'ticketId'},
    {colName:'Ticket Date',colData:'createdOn'},
    {colName:'Ticket Title',colData:'title'},
    {colName:'Assigned To',colData:'assignedToName'},
    {colName:'Ticket Status',colData:'ticketStatus'},
    {colName:'Company',colData:'companyName'},
    {colName:'Target Date',colData:'targetDate'},
    {colName:'Last Action',colData:'modifiedOn'}
    ]"
    [enableActionColumn]="true"
    [actionColumnLabel]="'Action'"
    [actionOptions]="[{actionName: 'View', actionIcon: 'fa fa-eye '}]"
    (actionClick)="handleActionClick($event)"
    ></app-color-datatable>