.login_container{
    font-family: 'Montserrat', sans-serif;
}


.microsoftbutton {
    background-color: #0072c6;
    border-color: #0072c6;
}

.microsoftbutton:hover{
    background-color: #005592 !important;
    border-color: #005592 !important;
}

.microsoftbutton:focus{
    background-color: #005592 !important;
    border-color: #005592 !important;
}