<div class="d-flex align-items-center justify-content-between my-3" style="border-bottom:1px solid #CDD5E9">
    <div class="main-heading">Sales Lead List</div>
    <button type="button" class="btn btn-primary btn-sm" (click)="OpenCreateLeadModal()">Create New</button>

</div>


<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="TabularViewDiv" role="tabpanel">
        <!--Tabs-->
        <div class="nav nav-tabs tra_tab" id="nav-tab" role="tablist">
            <a routerLinkActive="active" routerLink="active-leads" >Active Leads</a>
            <a routerLinkActive="active" routerLink="in-progress-leads" >In Progress Leads</a>
            <a routerLinkActive="active" routerLink="closed-leads" >Closed Leads</a>
            <a routerLinkActive="active" routerLink="success-leads" >Success Leads</a>
        </div>

        <div class="tab-content" id="nav-tabContent">
            
            <div class="tab-pane fade show active" role="tabpanel" style="padding-bottom: 50px;">
                <div class="row">
                    <div style="bottom: 10px;" class="col-md-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
















<ng-template #CreateLeadModal>
    <div class="modal-header text-light" style="background-color: #01018f;">
        <h5 class="modal-title font-weight-bold" id="WorkflowInstructionsModalLabel">Create Lead</h5>
        <button type="button" class="close text-light" aria-label="Close" data-dismiss="modal"
            (click)="LeadModal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="leadForm">
            <div class="form-row">
                <!-- <div class="form-group col-md-4">
                    <label for="project">Company Name <span
                        style="color: red;">*</span></label>
                    <select class="form-control" id="project" formControlName="companyId">
                        <option value="0">Select Company...</option>
                        <option *ngFor="let company of CompanyList" [value]="company.companyId">{{company.cName}}</option>
                    </select>
                    <div *ngIf="companyIdCtrl.invalid && companyIdCtrl.touched">
                        <p style="color: red;">Company is Required, Please Select</p>
                    </div>
                </div> -->
                <div class="form-group col-md-4">
                    <label for="project">Project Name<span style="color: red;">*</span></label>
                    <select class="form-control" id="project" formControlName="projectId">
                        <option [value]="0">Default</option>
                        <option *ngFor="let project of ProjectList" [value]="project.projectId">{{project.pName}}</option>
                    </select>
                    <div class="text-danger" *ngIf="(projectIdCtrl.touched && projectIdCtrl.invalid )">
                        <ng-container *ngIf="projectIdCtrl.errors"> Please select a project</ng-container>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="title">Lead Name<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="title" formControlName="lTitle">
                    <div class="text-danger" *ngIf="(lTitleCtrl.touched && lTitleCtrl.invalid )">
                        <ng-container *ngIf="lTitleCtrl.errors"> Lead Name is required</ng-container>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="AddField1">Contact No.</label>
                    <input type="text" class="form-control" id="department" formControlName="addField1">
                </div>
                <div class="form-group col-md-4">
                    <label for="AddField2">Address</label>
                    <textarea type="text" class="form-control" id="raisedBy" formControlName="addField2"></textarea>
                </div>
                <div class="form-group col-md-4">
                    <label for="AddField2">Email</label>
                    <input type="text" class="form-control" id="raisedByContactNo" formControlName="addField3">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" formControlName="category">
                        <option value="Retailer">Retailer</option>
                        <option value="Wholesaler">Wholesaler</option>
                        <option value="Manufacturer">Manufacturer</option>
                        <option value="Service">Service</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="priority">Lead Priority</label>
                    <select class="form-control" id="priority" formControlName="leadPriority">
                        <option>High</option>
                        <option>Medium</option>
                        <option>Low</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="ticketType">Lead Status</label>
                    <select class="form-control" id="ticketType" formControlName="leadStatus">
                        <option>New</option>
                        <option>Open</option>
                        <option>InProgress</option>
                        <option>Close</option>
                        <option>Success</option>
                    </select>
                </div>

            </div>
            <div class="form-row">

                <div class="form-group col-md-4">
                    <label for="targetDate">Lead Date</label>
                    <input type="date" class="form-control" id="leadDate" formControlName="leadDate" (change)="leadDateChanged($event)">
                </div>
                <div class="form-group col-md-4">
                    <label for="targetDate">Next Follow Up Date</label>
                    <input type="date" class="form-control" id="leadDate" formControlName="nextFollowUpDate">
                </div>
                <div class="form-group col-md-4">
                    <label for="tags">Tag List</label>
                    <input type="text" class="form-control" id="tags" formControlName="tagList">
                </div>

            </div>

            <!-- <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="AddField1">Lead Owner</label>
                    <input type="text" class="form-control" id="department" formControlName="leadOwner">
                </div>
            </div> -->
            <label>Lead Description</label>
            <div class="form-row">
                <app-rich-text-editor #editor2 (submit)="LeadUpdate($event)">
                    <button type="button" class="btn btn-sm btn-secondary my-2 ml-2" id="SupportTicketCloseBtn" data-dismiss="modal"
                    (click)="LeadModal.close()">Close</button>
                </app-rich-text-editor>
            </div>


        </form>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" id="SupportTicketCloseBtn" data-dismiss="modal"
            (click)="ticketModal.close()">Close</button>
        <button type="button" class="btn btn-primary" id="SupportTicketSaveBtn" (click)="TicketUpdate()">Create
            Ticket</button>
    </div> -->
</ng-template>